<a href="https://colab.research.google.com/github/tinapavare/An-lisis_de_datos_basicos/blob/main/Laboratorio_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
uploaded = files.upload()  # Sube el archivo desde tu computadora

import pandas as pd
df = pd.read_csv('CSV Laboratorio 3 AD-B.csv')  # Nombre del archivo ''

# Ver las primeras filas para verificar la carga
print("Primeras filas del archivo cargado:")
print(df.head(10))

Saving CSV Laboratorio 3 AD-B.csv to CSV Laboratorio 3 AD-B.csv
Primeras filas del archivo cargado:
   ID     Name    Category         City  Value        Date
0   1  Charlie       Cat C      Chicago   46.0   4/13/2023
1   2     Jane       Cat C      Houston   53.0  12/15/2023
2   3     Jane  category a      Chicago   68.0   9/28/2023
3   4     John         NaN     New York   97.0   4/17/2023
4   5     Jane       Cat C      Houston   71.0   3/13/2023
5   6      Eve  category a  Los Angeles   61.0    7/8/2023
6   7     Jane  Category A      Chicago   48.0   1/21/2023
7   8      Bob  CATEGORY B     New York   65.0   4/13/2023
8   9      Bob  CATEGORY B  Los Angeles    NaN    5/2/2023
9  10     Dave  CATEGORY B  Los Angeles   11.0    8/3/2023

In [3]:
import pandas as pd

# 1. Verificar valores faltantes en la columna 'City':

ciudades_faltantes = df['City'].isnull().sum()
print(f"Número de valores faltantes en la columna 'City': {ciudades_faltantes}")

Número de valores faltantes en la columna 'City': 15

In [4]:
# 2. Verificar valores duplicados en la columna 'City':

# Mantener la primera ocurrencia de cada valor duplicado
# y marcar todas las demás como True

ciudades_duplicadas = df['City'][df['City'].duplicated(keep='first')].unique()
print(f"Ciudades duplicadas (excluyendo la primera ocurrencia): {ciudades_duplicadas}")

Ciudades duplicadas (excluyendo la primera ocurrencia): ['Chicago' 'Houston' 'New York' 'Los Angeles' nan]

In [5]:
# 3. Obtener la frecuencia de cada ciudad en el conjunto de datos:
frecuencia_ciudades = df['City'].value_counts()
print("\nFrecuencia de cada ciudad:")
print(frecuencia_ciudades)

Frecuencia de cada ciudad:
City
Chicago        13
Houston        13
New York       12
Los Angeles     7
Name: count, dtype: int64

In [11]:

# Reemplazar valores nulos en la columna 'City' con 'Desconocido'
df['City'].fillna('Desconocido', inplace=True)

# Reemplazar valores nulos en todo el DataFrame con 0
df.fillna(0, inplace=True)

#display the DataFrame
print(df)

    ID     Name    Category         City  Value        Date
0    1  Charlie       Cat C      Chicago   46.0   4/13/2023
1    2     Jane       Cat C      Houston   53.0  12/15/2023
2    3     Jane  category a      Chicago   68.0   9/28/2023
3    4     John           0     New York   97.0   4/17/2023
4    5     Jane       Cat C      Houston   71.0   3/13/2023
5    6      Eve  category a  Los Angeles   61.0    7/8/2023
6    7     Jane  Category A      Chicago   48.0   1/21/2023
7    8      Bob  CATEGORY B     New York   65.0   4/13/2023
8    9      Bob  CATEGORY B  Los Angeles    0.0    5/2/2023
9   10     Dave  CATEGORY B  Los Angeles   11.0    8/3/2023
10  11      Bob       Cat C  Desconocido   96.0  11/27/2023
11  12     Dave  Category A      Houston   10.0   3/29/2023
12  13      Bob       Cat C      Chicago   11.0   4/10/2023
13  14      Eve           0     New York   99.0  12/26/2023
14  15    Grace       Cat C  Desconocido   41.0    6/1/2023
15  16     Dave  Category A      Houston   64.0   5/11/2023
16  17    Alice  Category A  Desconocido   26.0   5/30/2023
17  18  Charlie           0      Houston   33.0   11/5/2023
18  19     John  Category A      Houston   79.0   9/15/2023
19  20      Bob  Category A      Chicago   25.0  12/10/2023
20  21     Jane  CATEGORY B      Houston   68.0  10/21/2023
21  22    Grace           0  Desconocido   12.0   7/11/2023
22  23      Bob  Category B      Houston   68.0   10/4/2023
23  24     Jane  Category B      Chicago   99.0   6/10/2023
24  25  Charlie  Category A      Chicago   28.0  11/10/2023
25  26  Charlie  Category B  Desconocido   80.0   1/22/2023
26  27  Charlie  Category B  Los Angeles   42.0   9/10/2023
27  28     Jane  Category A  Los Angeles   48.0   8/24/2023
28  29      Bob  Category B      Houston   10.0  12/11/2023
29  30  Charlie       Cat C     New York   66.0   2/18/2023
30  31      Eve  category a      Houston   32.0   2/28/2023
31  32     Dave           0  Desconocido   51.0   6/19/2023
32  33     Jane  category a  Desconocido   25.0    7/7/2023
33  34     Jane  Category A  Desconocido   69.0   9/28/2023
34  35      Bob  CATEGORY B  Desconocido   10.0    7/9/2023
35  36     Jane           0  Desconocido    0.0   6/24/2023
36  37     Jane  Category A      Chicago   46.0   2/20/2023
37  38  Charlie  CATEGORY B  Los Angeles   18.0  12/30/2023
38  39      Bob  category a  Desconocido   28.0   2/24/2023
39  40  Charlie  Category A     New York   12.0    9/1/2023
40  41     Dave           0     New York   63.0  11/16/2023
41  42    Grace           0     New York   33.0   5/11/2023
42  43     Dave       Cat-C     New York   81.0   11/3/2023
43  44    Grace       Cat C      Chicago   93.0   5/15/2023
44  45  Charlie  Category B     New York   98.0   1/21/2023
45  46     Dave  CATEGORY B  Desconocido   27.0  11/25/2023
46  47      Bob       Cat-C      Houston   91.0   6/16/2023
47  48     John  Category B     New York   44.0   10/1/2023
48  49  Charlie  Category B      Chicago   50.0   3/30/2023
49  50    Grace  Category A      Chicago   77.0  11/12/2023
50  14      Eve           0     New York   99.0  12/26/2023
51  40  Charlie  Category A     New York   12.0    9/1/2023
52  31      Eve  category a      Houston   32.0   2/28/2023
53  46     Dave  CATEGORY B  Desconocido   27.0  11/25/2023
54  18  Charlie           0      Houston   33.0   11/5/2023
55  49  Charlie  Category B      Chicago   50.0   3/30/2023
56  27  Charlie  Category B  Los Angeles   42.0   9/10/2023
57  26  Charlie  Category B  Desconocido   80.0   1/22/2023
58  33     Jane  category a  Desconocido   25.0    7/7/2023
59  20      Bob  Category A      Chicago   25.0  12/10/2023

<ipython-input-11-f200351173f0>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna('Desconocido', inplace=True)

In [10]:
# Remove rows with any null values
df.dropna(inplace=True)

# Remove rows with null values in the 'City' column
df.dropna(subset=['City'], inplace=True)
print(df)

    ID     Name    Category         City  Value        Date
0    1  Charlie       Cat C      Chicago   46.0   4/13/2023
1    2     Jane       Cat C      Houston   53.0  12/15/2023
2    3     Jane  category a      Chicago   68.0   9/28/2023
3    4     John           0     New York   97.0   4/17/2023
4    5     Jane       Cat C      Houston   71.0   3/13/2023
5    6      Eve  category a  Los Angeles   61.0    7/8/2023
6    7     Jane  Category A      Chicago   48.0   1/21/2023
7    8      Bob  CATEGORY B     New York   65.0   4/13/2023
8    9      Bob  CATEGORY B  Los Angeles    0.0    5/2/2023
9   10     Dave  CATEGORY B  Los Angeles   11.0    8/3/2023
10  11      Bob       Cat C  Desconocido   96.0  11/27/2023
11  12     Dave  Category A      Houston   10.0   3/29/2023
12  13      Bob       Cat C      Chicago   11.0   4/10/2023
13  14      Eve           0     New York   99.0  12/26/2023
14  15    Grace       Cat C  Desconocido   41.0    6/1/2023
15  16     Dave  Category A      Houston   64.0   5/11/2023
16  17    Alice  Category A  Desconocido   26.0   5/30/2023
17  18  Charlie           0      Houston   33.0   11/5/2023
18  19     John  Category A      Houston   79.0   9/15/2023
19  20      Bob  Category A      Chicago   25.0  12/10/2023
20  21     Jane  CATEGORY B      Houston   68.0  10/21/2023
21  22    Grace           0  Desconocido   12.0   7/11/2023
22  23      Bob  Category B      Houston   68.0   10/4/2023
23  24     Jane  Category B      Chicago   99.0   6/10/2023
24  25  Charlie  Category A      Chicago   28.0  11/10/2023
25  26  Charlie  Category B  Desconocido   80.0   1/22/2023
26  27  Charlie  Category B  Los Angeles   42.0   9/10/2023
27  28     Jane  Category A  Los Angeles   48.0   8/24/2023
28  29      Bob  Category B      Houston   10.0  12/11/2023
29  30  Charlie       Cat C     New York   66.0   2/18/2023
30  31      Eve  category a      Houston   32.0   2/28/2023
31  32     Dave           0  Desconocido   51.0   6/19/2023
32  33     Jane  category a  Desconocido   25.0    7/7/2023
33  34     Jane  Category A  Desconocido   69.0   9/28/2023
34  35      Bob  CATEGORY B  Desconocido   10.0    7/9/2023
35  36     Jane           0  Desconocido    0.0   6/24/2023
36  37     Jane  Category A      Chicago   46.0   2/20/2023
37  38  Charlie  CATEGORY B  Los Angeles   18.0  12/30/2023
38  39      Bob  category a  Desconocido   28.0   2/24/2023
39  40  Charlie  Category A     New York   12.0    9/1/2023
40  41     Dave           0     New York   63.0  11/16/2023
41  42    Grace           0     New York   33.0   5/11/2023
42  43     Dave       Cat-C     New York   81.0   11/3/2023
43  44    Grace       Cat C      Chicago   93.0   5/15/2023
44  45  Charlie  Category B     New York   98.0   1/21/2023
45  46     Dave  CATEGORY B  Desconocido   27.0  11/25/2023
46  47      Bob       Cat-C      Houston   91.0   6/16/2023
47  48     John  Category B     New York   44.0   10/1/2023
48  49  Charlie  Category B      Chicago   50.0   3/30/2023
49  50    Grace  Category A      Chicago   77.0  11/12/2023
50  14      Eve           0     New York   99.0  12/26/2023
51  40  Charlie  Category A     New York   12.0    9/1/2023
52  31      Eve  category a      Houston   32.0   2/28/2023
53  46     Dave  CATEGORY B  Desconocido   27.0  11/25/2023
54  18  Charlie           0      Houston   33.0   11/5/2023
55  49  Charlie  Category B      Chicago   50.0   3/30/2023
56  27  Charlie  Category B  Los Angeles   42.0   9/10/2023
57  26  Charlie  Category B  Desconocido   80.0   1/22/2023
58  33     Jane  category a  Desconocido   25.0    7/7/2023
59  20      Bob  Category A      Chicago   25.0  12/10/2023

In [14]:
# Eliminar filas duplicadas basándose en todas las columnas
df.drop_duplicates(inplace=True)

# Eliminar filas duplicadas basándose en la columna 'City'
df.drop_duplicates(subset=['City'], keep='first', inplace=True)
print(df)

    ID     Name    Category         City  Value        Date
0    1  Charlie       Cat C      Chicago   46.0   4/13/2023
1    2     Jane       Cat C      Houston   53.0  12/15/2023
3    4     John           0     New York   97.0   4/17/2023
5    6      Eve  category a  Los Angeles   61.0    7/8/2023
10  11      Bob       Cat C  Desconocido   96.0  11/27/2023

In [25]:
# Convertir los valores de la columna 'City' a minúsculas
df['City'] = df['City'].str.lower()

# Convertir los valores de la columna 'Category' a minúsculas
df['Category'] = df['Category'].str.lower()

# Convertir los valores de la columna 'Date' al formato de fecha
df['Date'] = pd.to_datetime(df['Date'])

# Cambiar el formato de la fecha a 'AAAA/MM/DD'
df['Date'] = df['Date'].dt.strftime('%Y/%m/%d')

# Eliminar espacios al inicio y al final de los valores en la columna 'Category'
df['Category'] = df['Category'].str.strip()

# Capitalizar la primera letra de cada palabra en la columna 'Category'
df['Category'] = df['Category'].str.title()

print(df)

    ID     Name    Category         City  Value        Date
0    1  Charlie       Cat C      chicago   46.0  2023/04/13
1    2     Jane       Cat C      houston   53.0  2023/12/15
3    4     John         NaN     new york   97.0  2023/04/17
5    6      Eve  Category A  los angeles   61.0  2023/07/08
10  11      Bob       Cat C  desconocido   96.0  2023/11/27

In [31]:
# Validar el dataset limpio
print("Resumen del dataset:")
print(df.info())  # Verifica el tipo de datos y los valores nulos
print("\nEstadísticas descriptivas:")
print(df.describe())  # Verifica las estadísticas numéricas del DataFrame
print("\nPrimeras filas del dataset limpio:")
print(df.head())  # Muestra las primeras filas del dataset para revisión visual

# Verificar si quedan valores nulos
if df.isnull().sum().sum() == 0:
    print("\nNo hay valores nulos en el dataset limpio.")
else:
    print("\nAún quedan valores nulos en el dataset limpio. Revisa las columnas.")

Resumen del dataset:
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 10
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        5 non-null      int64
 1   Name      5 non-null      object
 2   Category  4 non-null      object
 3   City      5 non-null      object
 4   Value     5 non-null      float64
 5   Date      5 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 280.0+ bytes
None

Estadísticas descriptivas:
              ID      Value
count   5.000000   5.000000
mean    4.800000  70.600000
std     3.962323  24.234273
min     1.000000  46.000000
25%     2.000000  53.000000
50%     4.000000  61.000000
75%     6.000000  96.000000
max    11.000000  97.000000

Primeras filas del dataset limpio:
    ID     Name    Category         City  Value        Date
0    1  Charlie       Cat C      chicago   46.0  2023/04/13
1    2     Jane       Cat C      houston   53.0  2023/12/15
3    4     John         NaN     new york   97.0  2023/04/17
5    6      Eve  Category A  los angeles   61.0  2023/07/08
10  11      Bob       Cat C  desconocido   96.0  2023/11/27

Aún quedan valores nulos en el dataset limpio. Revisa las columnas.